<a href="https://colab.research.google.com/github/syunar/22-01_Laptops-Prices-Prediction-Analysis/blob/main/22_01_01_cpuandgpurank_webscraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# install selenium and chrimedriver
!pip install selenium
!apt-get update 
!apt install chromium-chromedriver

In [2]:
# import libraries
from selenium.webdriver.common.by import By
from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
import pandas as pd
import time

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DeprecationWarning: use options instead of chrome_options

# CPU

In [3]:
url = 'https://notebookspec.com/chart/notebook-cpu.html'
driver.get(url)

In [47]:
elems = driver.find_elements(By.CSS_SELECTOR, '#chart-table a')
cpu_rank = [elem.get_attribute('innerText').strip() for elem in elems]

In [57]:
df_cpurank = pd.DataFrame(cpu_rank).reset_index()\
                .rename(columns={'index': 'cpu_rank',
                                 0: 'cpu_name'})
df_cpurank['cpu_rank'] = df_cpurank['cpu_rank'] + 1

In [71]:
df_cpurank.head()

   cpu_rank               cpu_name
0         1  Intel Core i9-12950HX
1         2  Intel Core i9-12900HX
2         3  Intel Core i7-12850HX
3         4  Intel Core i9-12900HK
4         5   Intel Core i9-12900H

In [70]:
df_cpurank.to_csv('cpu_rank.csv')

# GPU

In [63]:
url = 'https://notebookspec.com/chart/notebook-vga.html'
driver.get(url)

In [64]:
elems = driver.find_elements(By.CSS_SELECTOR, '#chart-table a')
gpu_rank = [elem.get_attribute('innerText').strip() for elem in elems]

In [67]:
df_gpurank = pd.DataFrame(gpu_rank).reset_index()\
                .rename(columns={'index': 'gpu_rank',
                                 0: 'gpu_name'})
df_gpurank['gpu_rank'] = df_gpurank['gpu_rank'] + 1

In [72]:
df_gpurank.head()

   gpu_rank                    gpu_name
0         1  NVIDIA GeForce RTX 3080 Ti
1         2     NVIDIA GeForce RTX 3080
2         3     NVIDIA GeForce RTX 3080
3         4  NVIDIA GeForce RTX 3070 Ti
4         5     NVIDIA GeForce RTX 3070

In [69]:
df_gpurank.to_csv('gpu_rank.csv')